nav {
  .logo {
    color: $theme-black;
    font-size: x-large;

    span {
      &:nth-child(1) {
        font-weight: bold;
      }
      &:nth-child(2) {
        font-weight: normal;
      }
      &:nth-child(3) {
        font-weight: bold;
      }
    }
  }
}
